<section class="weather-main">
    <div class="weather-main-local-and-icon">
        <div class="local">
            <span class="weather-main-div1-span">Sua localização:</span>
            <h3 class="weather-main-div1-h4">{{local}}</h3>
        </div>
        
        <div class="icon">
            <svg class="bi weather-icon" width="20" height="20" fill="currentColor" id="login-btn">
                <use attr.xlink:href="{{bootstrapWeatherIcon}}"></use>
            </svg>
        </div>
    </div>

    <div class="weather-main-climate-data">
        <div class="specific-info">
            <div class="wind-info">
                <svg class="bi specific-info-icon" width="20" height="20" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#wind"/>
                </svg>
                <p>Vento:</p>
                <p class="wind-info-p">{{windP}}km/h</p>
            </div>
            
            <div class="umidade">
                <svg class="bi specific-info-icon" width="20" height="20" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#droplet-half"/>
                </svg>
                <p>Umidade:</p>
                <p class="water-info-p">{{waterP}}%</p>
            </div>

            <div class="rain-chance">
                <svg class="bi specific-info-icon" width="20" height="20" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#percent"/>
                </svg>
                <p>Precipitação:</p>
                <p class="rain-p">{{rainP}}%</p>
            </div>
        </div>

        <div class="temperature">
            <p id="temperature-status-phrase">{{temperatureStatus}}</p>
            <p id="degrees">{{degrees}} °C</p>
        </div>
    </div>
</section>

<!-- <div class="container-fluid">
    <div class="d-flex flex-row justify-content-around local-and-icon">
        <div class="local">
            <span class="weather-main-div1-span">Sua localização:</span>
            <h3 class="weather-main-div1-h4">{{local}}</h3>
        </div>
    
        <div class="icon">
            <svg class="bi weather-icon" width="20" height="20" fill="currentColor" id="login-btn">
                <use attr.xlink:href="{{bootstrapWeatherIcon}}"></use>
            </svg>
        </div>
    </div>
    
    <div class="climate">
        <div class="d-flex flex-row justify-content-between align-content-center details">
            <div class="wind-info">
                <svg class="bi specific-info-icon" width="20" height="20" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#wind"/>
                </svg>
                <p>Vento:</p>
                <p class="wind-info-p">{{windP}}km/h</p>
            </div>
            
            <div class="umidade">
                <svg class="bi specific-info-icon" width="20" height="20" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#droplet-half"/>
                </svg>
                <p>Umidade:</p>
                <p class="water-info-p">{{waterP}}%</p>
            </div>
    
            <div class="rain-chance">
                <svg class="bi specific-info-icon" width="20" height="20" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#percent"/>
                </svg>
                <p>Precipitação:</p>
                <p class="rain-p">{{rainP}}%</p>
            </div>
        </div>
    
        <div class="d-flex flex-column justify-content-center align-content-center status">
            <div id="temperature-status-phrase">{{temperatureStatus}}</div>
            <div id="degrees">{{degrees}} °C</div>
        </div>
    </div>
</div> -->