@import '../../../assets/scss/mixins.scss';

.weather-main{
    @include display-flex(column, space-around, center, 1em);
    background-color: rgba(255, 243, 194, 0.9);
    border-radius: 1.1em;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    padding: 0.5em;

    .weather-main-local-and-icon{
        @include display-flex(row, space-between, center, 2em);
        padding: 0.5em;

        .local{
            .weather-main-div1-span{}

            .weather-main-div1-h4{
                font-size: 2em;
            }
        }

        .icon{
            .weather-icon{
                width: 4em;
                height: 4em;
            }
        }
    }

    .weather-main-climate-data{
        @include display-flex(row, center, center, 4em);
        padding: 0.5em;

        .specific-info{
            @include display-flex(row, center, center, 2em);
            flex-wrap: wrap;
            font-size: small;

            .specific-info-icon{
                @include display-flex();
                justify-self: center;
                align-self: center;
                text-align: center
            }

            .wind-info, .umidade, .rain-chance{
                @include display-flex(column, center, space-between);
                text-align: center;
                margin: 0;
                padding: 0;
            }
        }

        .temperature{
            padding: 0.5em;

            #temperature-status-phrase{
                margin: 0;
                text-align: center;
            }

            #degrees{
                font-family: var(--inter-title);
                font-size: 3em;
                text-align: center;
            }
        }


    }
}