<div class="container-personalize">
    <div class="wrap-personalize">

        <div class="container-return-btn">
            <button class="returnSettings-btn bi bi-arrow-left-short" [routerLink]="['/settings']"></button>
        </div>

        <form class="personalize-form">
            
            <span class="title-form">GÊNEROS CINEMATOGRÁFICOS</span>

            <div class="container-checkbox">
                <div class="column column1">
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="musical" class="text-form">Musical</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="biografia" class="text-form">Biografia</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="fantasia" class="text-form">Fantasia</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="policial" class="text-form">Policial</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="drama" class="text-form">Drama</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="esporte" class="text-form">Esporte</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="velhoOeste" class="text-form">Velho Oeste</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="misterio" class="text-form">Mistério</label>
                    </div>
    
                </div>

                <div class="column">
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="thriller" class="text-form">Thriller</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="Horror" class="text-form">Horror</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="guerra" class="text-form">Guerra</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="acao" class="text-form">Ação</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="comedia" class="text-form">Comédia</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="sci-fi" class="text-form">Sci-Fi</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="romance" class="text-form">Romance</label>
                    </div>
    
                    <div class="option">
                        <input type="checkbox" class="checkbox" name="">
                        <label for="historia" class="text-form">História</label>
                    </div>
                </div>
            </div>

            <div class="container-salve-btn">
                    <button class="salveOptions-btn" [routerLink]="['/settings']">
                        SALVAR
                    </button>
            </div>

        </form>

    </div>
</div>