<div class="footer-body">
    <section class="footer-body-sec1">
        <div class="social">
            <span id="name">Guilherme</span>

            <div class="div-for-icon">
                <svg class="bi social-icons" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#globe"/>
                </svg>
    
                <svg class="bi social-icons" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#github"/>
                </svg>
            </div>
        </div>

        <div class="social">
            <span id="name">Karen</span>
            <div class="div-for-icon">
                <svg class="bi social-icons" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#instagram"/>
                </svg>
    
                <svg class="bi social-icons" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#github"/>
                </svg>
            </div>
            
        </div>
    </section>

    <section class="footer-body-sec2">
        <p class="footer-body-sec2-p">Made with <span>	&#10084;</span> by Guilherme & Karen</p>
    </section>

    <section class="footer-body-sec3">
        <p class="footer-body-sec3-p">Copyright © 2022 Eos Guide</p>
    </section>
</div>