<div class="container-fluid footer-body py-5">
    <section class="footer-body-sec1">
        <div class="social">
            <span id="name">Henry</span>

            <div class="div-for-icon">
                <a href="https://guilhermehenrique.vercel.app">
                    <svg class="bi social-icons" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#globe"/>
                    </svg>
                </a>
                
                <a href="https://github.com/euguiihenry">
                    <svg class="bi social-icons" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#github"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="social">
            <span id="name">Karen</span>
            <div class="div-for-icon">
                <a href="https://instagram.com/mother0fwar">
                    <svg class="bi social-icons" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#instagram"/>
                    </svg>
                </a>
                
                <a href="https://github.com/KarenPSMoreira">
                    <svg class="bi social-icons" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#github"/>
                    </svg>
                </a>
            </div>
            
        </div>
    </section>

    <section class="footer-body-sec2">
        <div class="footer-body-sec2-p">Feito com <span>&#10084;</span></div>
        <div class="footer-body-sec2-p">por Henry & Karen</div>
    </section>

    <section class="footer-body-sec3">
        <div class="footer-body-sec3-p">Copyright © 2022</div>
        <div class="footer-body-sec3-p">Eos Guide</div>
    </section>
</div>