@use "../../../assets/scss/mixins.scss" as *;
@use "../../../assets/scss/variables.scss" as *;

.footer-body{
    background-color: var(--main-color-in-use-1);
    color: var(--alternative-font-color);
    @include display-flex(column, space-around, center, 2em);
    align-items: center;
    text-align: center;
    padding: 0em 2.1em;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;

    .footer-body-sec1{
        //width: 100%;
        @include display-flex(row, space-between, center, 5em);

        .social{
            @include display-flex(column, space-around, center, 1em);

            #name{
                text-align: center;
            }

            .div-for-icon{
                @include display-flex(row, center, center, 1em);
                width: 100%;

                a{
                    color: #1F1F1F;

                    .social-icons{
                        width: 1.5em;
                        height: 1.5em;
                    }
                }

                
            }
        }
    }

    .footer-body-sec2{
        @include display-flex(column, center, center, 0.2em);
        margin: 0;
        padding: 0;


        .footer-body-sec2-p{
            padding: 0;
        }
    }

    .footer-body-sec3{

        .footer-body-sec3-p{
            padding: 0;
        }
    }
}

@media only screen and (min-width: 700px) {
    .footer-body{
        @include display-flex(row, space-between, center, 1em);

        .footer-body-sec1{
            @include display-flex(row, space-between, center, 2.5em);
        }

        .footer-body-sec2{
            width: auto;
            @include display-flex(column, center, center, 0.2em);
            margin: 0;
            padding: 0;
    
            .footer-body-sec2-p{
                
            }
        }
    
        .footer-body-sec3{
            
    
            .footer-body-sec3-p{
                
            }
        }
    }

    
}