<section class="news-main">
    <div class="news-title-and-icon">
        <h5 class="sumarry">Resumo de Notícias</h5>
        <div class="news-icon-fg">
            <svg class="bi news-icon" width="20" height="20" fill="currentColor" id="login-btn">
                <use xlink:href="bootstrap-icons.svg#wind"/>
            </svg>
        </div>
    </div>

    <div class="news-briefing">
        <section class="first-row">
            <div class="news1">
                <div>
                    <h6 class="news-title">{{newsTitle1}}</h6>
                    <p class="news-summary">{{newsSummary1}}</p>
                </div>
                <div class="news-image"></div>
            </div>

            <div class="news2">
                <div>
                    <h6 class="news-title">{{newsTitle2}}</h6>
                    <p class="news-summary">{{newsSummary2}}</p>
                </div>
                <div class="news-image"></div>
            </div>
        </section>

        <section class="second-row">
            <div class="news3">
                <div>
                    <h6 class="news-title">{{newsTitle3}}</h6>
                    <p class="news-summary">{{newsSummary3}}</p>
                </div>
                <div class="news-image"></div>
            </div>

            <div class="news4">
                <div>
                    <h6 class="news-title">{{newsTitle4}}</h6>
                    <p class="news-summary">{{newsSummary4}}</p>
                </div>
                <div class="news-image"></div>
            </div>
        </section>
    </div>
</section>
