@import "../../../assets/scss/mixins";

.cinema-main{
    width: 100%;
    height: 160px;
    @include display-flex(column, center, center, 1em);
    align-items: center;

    .cinema-title{

    }
    .cinema-image{
        width: 100%;
        height: 180px;
        border-radius: 1em;
    }

    .cinema-subtitle{

    }

    .cinema-description{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    
    }

    .a-link{

    }
}