<app-header></app-header>

<main class="main-content">
    <section class="main-section-1">
        <div class="main-section-1-foreground">
            <div class="main-section-1-div1">
                <app-weather-widget></app-weather-widget>
            </div>
    
            <div class="main-section-1-div2">
                <app-music-widget></app-music-widget>
                <app-quote-widget></app-quote-widget>
            </div>
        </div>
    </section>

    <section class="main-section-2">
        <hr id="first-home-line">
        <p class="check-it">Dê uma olhada antes de ir</p>
        <hr id="second-home-line">
    </section>

    

    <section class="main-section-3">
        <div class="main-section-3-div1">
            <app-news-widget></app-news-widget>
        </div>

        <div class="main-section-3-div2">
            <app-food-widget></app-food-widget>
            <app-entertainment-widget></app-entertainment-widget>
            <app-leisure-widget></app-leisure-widget>
        </div>
    </section>
</main>

<app-footer></app-footer>