<!--FORMULÁRIO DE LOGIN-->
<div class="container-access">
    <div class="wrap-access">
        <form class="login-form">
            <span class="title-form">LOGIN</span>
            <p class="text-form">Faça seu login para ter acesso as personalizações</p>

            <div>
                <span class="username-text">USUÁRIO:</span>
                <br>
                <input class="username-login" name="username-login" required="required" type="text"
                    placeholder="johnlennon" />
            </div>

            <br>

            <div data-validate="Enter password">
                <span class="password-text">SENHA:</span>
                <br>
                <input class="password-login" name="password-login" required="required" type="password"
                    placeholder="***********" />
            </div>

            <div class="container-form-btn">

                <button class="login-form-btn">
                    ENTRAR
                </button>
            </div>

            <div class="container-form-btn">
                <div>
                    <hr>
                    <p class="text-form">Não possuiu conta?</p>
                    <button class="createUser-form-btn">
                        CRIAR
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
