<section class="container-fluid news-section">
    <div class="row justify-content-between align-content-center p-2 news-header">
        <div class="p-3 news-subdiv-header">
            <h3>Resumo de Notícias</h3>

            <a class="news-icon-fg" href="https://news.google.com/">
                <svg class="bi news-icon" width="20" height="20" fill="currentColor" id="login-btn">
                    <use xlink:href="bootstrap-icons.svg#wind"/>
                </svg>
            </a>
        </div>
        
    </div>
    
    <div class="row justify-content-center news-content">
        <div *ngFor="let news of noticiasTeste" class="card col-2 mx-1 my-1 news-cards" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title" style="text-align: center;">{{news.title}}</h6>
                <p class="card-text">{{news.content}}</p>
                <div>
                    <a href="{{news.url}}">Notícia Completa</a>
                </div>
            </div>
            <div class="div-for-img">
                <img [src]="news.image" class="card-img-bottom card-img" alt="...">
            </div>
        </div>
    </div>
</section>
