@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*------------------------------------------------------------------
[ Main container ]*/
body{
    background-image: url('https://i.redd.it/m6y3b2fkyie51.jpg');
}

.container-access {
    width:auto;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /*background-color: rgb(214, 219, 239);*/
    
}

.wrap-access {
    width: 450px;
    background: #FAF4D7;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 60px 50px 60px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[ Form ]*/

.login-form,
.registration-form {
    width: 100%;
}

.title-form {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #3D495C;
    line-height: 1.2;
    text-align: center;
}

.firstname-field, .lastname-field{
    display: block;
    float: left;
    width: 49%;
    margin-bottom: 15px;
}

.firstname-field {
    margin-right: 1%; 
}

.username-login, .password-login,
.lastname-registration,.firstname-registration,
.confirmPass-registration
 {
    font-family: 'Nunito', sans-serif;
    background-color: #E6FFED;
    width: 100%;
    height: 35px;

    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #00000070;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
}

.login-form-btn, .createUser-form-btn,
.registerUser-form-btn, .accessAccount-form-btn {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #2C3442;
    line-height: 1.2;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 150px;
    height: 35px;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border: 1px solid #00000070;
}

.login-form-btn,
.registerUser-form-btn {
    background-color: #FFF3C2;
}

.login-form-btn:hover,
.registerUser-form-btn:hover {
    background-color: #d9a74a;
    color: #1D212D;
    transition: 0.5s;
}

/*------------------------------------------------------------------
[ Animation Button ]*/

.createUser-form-btn,
.accessAccount-form-btn {
    background-color: transparent;
}

.createUser-form-btn:hover,
.accessAccount-form-btn:hover {
    background-color: #c7bc8ad3;
    color: #1D212D;
    transition: 0.5s;
}

/*------------------------------------------------------------------
[ Text Forms ]*/

.firstname-text, .lastname-text,
.username-text, .password-text,
.text-form {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #3D495C;
}

.firstname-text, .lastname-text,
.username-text, .password-text {
    padding-left: 15px;
}

.text-form {
    text-align: center;
}