<div class="container-access">
    <div class="wrap-access">
        <form class="registration-form" #form="ngForm" [formGroup]="userForm">
            <span class="title-form">CRIAR CONTA</span>
            <p class="subtitle-form">Crie seu cadastro de usuário abaixo</p>

            <div class="firstname-field">
                <span class="text-form">NOME:</span>
                <br>
                <input class="firstname-registration" name="firstname-registration" required="required" type="text"
                    placeholder="John" [(ngModel)]="user.firstname"/>
            </div>

            <div class="lastname-field">
                <span class="text-form">SOBRENOME:</span>
                <br>
                <input class="lastname-registration" name="lastname-registration" required="required" type="text"
                    placeholder="Lennon" [(ngModel)]="user.lastname"/>
            </div>

            <div>
                <span class="text-form">USUÁRIO:</span>
                <br>
                <input class="username-login" name="username-login" required="required" type="text"
                    placeholder="Ex.: johnlennon" [(ngModel)]="user.username"/>
            </div>


            <div data-validate="Enter password">
                <span class="text-form">SENHA:</span>
                <br>
                <input class="password-login" name="password-login" required="required" type="password"
                    placeholder="***********" [(ngModel)]="user.password" [(ngModel)]="itemPassword"/>
            </div>


            <div data-validate="Enter password" class="field-input">
                <span class="text-form">CONFIRMAR SENHA:</span>
                <br>
                <input class="confirmPass-registration" name="confirmPass-registration" required="required"
                    type="password" placeholder="***********" minlength="8" required [(ngModel)]="itemPasswordConfirm"/>
            </div>

            <div class="container-form-btn">
                <button class="registerUser-form-btn" (click)="newUser()">
                    CRIAR CONTA
                </button>
            </div>
        </form>

        <div class="goToSingIn-field">
            <p class="subtitle-form">Já possui uma conta?</p>
            <div class="container-form-btn">
                <button class="accessAccount-form-btn" [routerLink]="['/sign-in']" routerLinkActive="active">
                    FAZER LOGIN
                </button>
            </div>
        </div>

    </div>

</div>