<div class="container">
    <section class="quote-main1">
        <h5 class="quote-main-title">{{quoteTitle}}</h5>
        <p class="quote-main-paragraph">{{quoteParagraph}}</p>
        <span class="author">Autor: {{quoteAuthor}}</span>
    </section>
    
    <section class="quote-main2">
        <h5 class="quote-main-title">{{quoteTitle}}</h5>
        <p class="quote-main-paragraph">{{quoteParagraph}}</p>
        <span class="author">Autor: {{quoteAuthor}}</span>
    </section>
    
    <section class="quote-main3">
        <h5 class="quote-main-title">{{quoteTitle}}</h5>
        <p class="quote-main-paragraph">{{quoteParagraph}}</p>
        <span class="author">Autor: {{quoteAuthor}}</span>
    </section>
</div>