<section class="container-fluid main-sec1">
    <app-header></app-header>
</section>

<section class="container-fluid p-2 main-sec2">
    <!-- <div class="sub-div-sec2"> -->
        <div class="container sec2-div1 d-flex flex-row justify-content-center">
            <app-clima-widget></app-clima-widget>
        </div>
        <div class="container sec2-div2">
            <div class="container sec2-div2-div1 d-flex flex-row justify-content-center">
                <app-musica-widget></app-musica-widget>
            </div>
            <br>
            <div class="container sec2-div2-div2 d-flex flex-row justify-items-center">
                <app-frase-widget></app-frase-widget>
            </div>
        </div>
    <!-- </div> -->
</section>

<section class="container-fluid main-sec3 d-flex flex-column justify-items-center align-items-center">
    <hr id="first-line">

    <div id="check-it">
        Dê uma olhada antes de ir!
    </div>

    <hr id="second-line">
</section>

<section class="container main-sec4">
    <app-noticia-widget></app-noticia-widget>
</section>

<section class="container main-sec5 py-2 my-4">
    <div class="container-fluid row justify-content-center mx-2 mb-4 sec5-div align-items-center">
        <app-comida-widget class="card col-2 m-2 p-5"></app-comida-widget>
        <br>
        <app-cinema-widget class="card col-2 m-2 p-5"></app-cinema-widget>
        <br>
        <app-lazer-widget class="card col-2 m-2 p-5"></app-lazer-widget>
    </div>
</section>

<section class="main-sec6">
    <app-footer></app-footer>
</section>