<section class="container-fluid main-sec1">
    <app-header></app-header>
</section>

<section class="container-fluid p-2 main-sec2">
    <!-- <div class="sub-div-sec2"> -->
        <div class="container sec2-div1 d-flex flex-row justify-content-center">
            <app-clima-widget></app-clima-widget>
        </div>
        <div class="container sec2-div2">
            <div class="sec2-div2-div1 d-flex flex-row justify-content-center">
                <app-musica-widget></app-musica-widget>
            </div>
            <br>
            <div class="sec2-div2-div2 d-flex flex-row justify-items-center">
                <app-frase-widget></app-frase-widget>
            </div>
        </div>
    <!-- </div> -->
</section>

<section class="container-fluid main-sec3">
    <hr>

    <div>
        Dê uma olhada antes de ir!
    </div>

    <hr>
</section>

<section class="container-fluid main-sec4">
    <app-noticia-widget></app-noticia-widget>
</section>

<section class="container-fluid main-sec5">
    <div class="sec5-div1">
        <app-comida-widget></app-comida-widget>
    </div>

    <div class="sec5-div2">
        <app-cinema-widget></app-cinema-widget>
    </div>

    <div class="sec5-div3">
        <app-lazer-widget></app-lazer-widget>
    </div>
</section>

<section class="container-fluid main-sec6">
    <app-footer></app-footer>
</section>