<header class="navbar navbar-expand-lg navbar-light">
    <div class="logo-area">
        <div class="logo-image"></div>
        <div class="logo-text">
            <p class="logo-paragraph">Eos Guide</p>
            <span class="logo-span">Guia da Aurora</span>
        </div>
    </div>

    <nav class="nav-area">
        <a ></a>
        <div class="nav-icon-foreground" (click)="callSignIn()">
            <svg class="bi nav-icons" width="20" height="20" fill="currentColor" id="login-btn">
                <use xlink:href="bootstrap-icons.svg#person-circle"/>
            </svg>
        </div>

        <div class="nav-icon-foreground hide-settings">
            <svg class="bi nav-icons" width="20" height="20" fill="currentColor" id="login-btn">
                <use xlink:href="bootstrap-icons.svg#gear-fill"/>
            </svg>
        </div>        
    </nav>
</header>
