<nav class="navbar p-4 d-flex flex-row justify-content-between align-content-center">
    <div class="nav-div-logo">
        <div class="logo-name">Eos Guide</div>
    </div>

    <div class="nav-links d-flex flex-row justify-content-between align-content-center">
        <div [routerLink]="['/sign-in']" routerLinkActive="active" class="icon-fg" *ngIf="!logged">
            <svg class="bi nav-icons" fill="currentColor" id="login-btn">
                <use xlink:href="bootstrap-icons.svg#person-circle"/>
            </svg>
        </div>

        <div [routerLink]="['/settings']" routerLinkActive="active" class="icon-fg" *ngIf="logged" >
            <svg class="bi nav-icons" fill="currentColor" id="login-btn">
                <use xlink:href="bootstrap-icons.svg#gear-fill"/>
            </svg>
        </div>  

        

    </div>
</nav>