@import '../../../styles';

header{
    display: flex;
    justify-content:space-between;
    justify-self: center;
    align-content: center;
    text-align: center;
    flex-direction: row;
    padding: 2em 0;

    .logo-area{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: row;
        gap: 0.5em;
        
        .logo-image{
            display: none;
        }
        
        .logo-text{
            display: flex;
            text-align: center;
            flex-direction: column;
            gap: 0.05em;

            .logo-paragraph{
                font-family: var(--inter-title);
                text-transform: uppercase;
                font-size: 1.2rem;
            }
    
            .logo-span{
                font-family: var(--nunito-light);
                text-transform: lowercase;
                font-size: 1rem;
                display: none;
            }
        }        
    }

    .nav-area{
        display: flex;
        justify-content: flex-end;
        align-content: center;
        flex-direction: row;
        gap: 0.9em;

        .nav-icon-foreground{
            width: 2.5em;
            height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(199, 188, 138, 0.5);
            border-radius: 1em;


            nav-icons{
                width: 2.5rem;
                height: 2.5rem
            }
        }

        .hide-settings{
            display: none;
        }
    }
}