@import "../../../assets/scss/mixins";

.lazer-main{
    width: 100%;
    height: 160px;
    @include display-flex(column, center, center, 1em);
    align-items: center;

    .lazer-title{

    }
    .lazer-image{
        width: 100%;
        height: 180px;
        border-radius: 1em;
    }

    .lazer-subtitle{
        
    }

    .lazer-description{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .a-link{

    }
}